<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <%= image_tag artist.image, :class => 'thumb' if artist.image.present? %>
  <ul>
    <li>Name: <%= link_to artist.name, artist %></li>
    <li>Nationality: <%= artist.nationality %></li>
    <% if artist.dob.present? %>
      <li>Date of birth: <%= artist.dob.strftime '%A, %B %e, %Y' %></li>
    <% end %>
    <li>Period: <%= artist.period %></li>
  </ul>
<% end %>
