<!DOCTYPE html>
<html>
  <head>
    <title>Moma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'Works', works_path %>
        <%= link_to 'New Work', new_work_path %>
        |
        <%= link_to 'Artists', artists_path %>
        <%= link_to 'New Artist', new_artist_path %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
