<h2>Edit Butterfly</h2>

<form action="/butterflies/<%= @butterfly["id"] %>" method="post">
  <label>
    Name:
    <input name="name" placeholder="Gaudy Commodore" required value="<%= @butterfly["name"] %>">
  </label>

  <label>
    Family:
    <input name="family" placeholder="Nymphalidae" value="<%= @butterfly["family"] %>">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://..." value="<%= @butterfly["image"] %>">
  </label>

  <label>
    Larval plant:
    <select name="plant_id">
      <option></option>
      <% Plant.all.each do |plant| %>
        <option value="<%= plant.id %>" <%= "selected" if plant.id == @butterfly.plant_id %>><%= plant.name %></option>
      <% end %>
    </select>
  </label>

  <button>Update butterfly</button>
</form>
