<h2><%= @planet.name %></h2>

<h3>Image coming soon</h3>

<ul>
  <li>Name: <%= @planet.name %></li>
  <li>Orbit: <%= @planet.orbit %></li>
  <li>Diameter: <%= @planet.diameter %></li>
  <li>Mass: <%= @planet.mass %></li>
  <li>Moons: <%= @planet.moons %></li>
</ul>
